<div class="form-box">
    <span class="form-info-toggler" data-form="user-data">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <i class="fa fa-check" aria-hidden="true"></i>
    </span>
    <h3 class="form-title">
    Dados Atuais
    </h3>
    <%= simple_form_for user, url: edit_profile_path, remote: true,  method: :patch, html: { id: "user-data" } do |f| %>
        <div class="user-names">
            <div class="first-name-field">
                <span class="form-label">Nome</span>
                <%= f.input :name, 
                    label: false, 
                    input_html: { 
                        class: "first_name form_input",
                        disabled: true
                         } %>
            </div>
            <div class="last-name-field">
                <span class="form-label">Sobrenome</span>
                <%= f.input :last_name, 
                    label: false, 
                    input_html: { 
                        class: "last_name form_input", 
                        disabled: true 
                        } %>
            </div>
        </div>
        <div class="birthdate-field">
            <span class="form-label" >Nascimento</span>
            <%= f.input :birthdate, 
                as: :string, 
                label: false , 
                input_html: { 
                    class: "datepicker form_input",
                    data: { 
                            birthdate: user.birthdate.strftime("%d/%m/%Y")
                        },
                    disabled: true
                    }
            %>
        </div>
        <div class="photo_field">
            <% user_photo = current_user.photo.attached? ? current_user.photo.key : 'user.png' %>
            <%= cl_image_tag user_photo, class: 'form-photo' %>
            <span id="image-setter">Trocar imagem</span>
            <%= f.input :photo,
                as: :file, 
                label: false, 
                input_html:{ 
                    class: "photo-input form_input",
                    disabled: true
                    } %>
        </div>
    <% end %>
</div>

