
<h4>Loja <%= @store.comercial_name %></h4>
<p>Proprietário: <%= @store.owner.name  %></p>
<p>Email: <%= @store.email  %></p>
<p>CPNJ: <%= @store.cnpj %></p>

<% 
    base_url =  "https://auth.mercadopago.com.br/authorization"
    client_id = "client_id=2929864182574664"
    response_type = "response_type=code"
    platform_id = "platform_id=mp"
    redirect_uri = "https://e57193d67bac.ngrok.io/credentials"
 %>

<%= 
    link_to "Link com MercadoPago", 
    "#{base_url}?#{client_id}&#{response_type}&#{platform_id}&#{redirect_uri}"   
%>
