
<h4>Loja <%= @store.comercial_name %></h4>
<p>Proprietário: <%= @store.owner.name  %></p>
<p>Email: <%= @store.email  %></p>
<p>CPNJ: <%= @store.cnpj %></p>

<%= link_to "Link com MercadoPago", "https://auth.mercadopago.com.br/authorization?client_id=4213177672217670&response_type=code&platform_id=mp&redirect_uri=https://80765965a838.ngrok.io/credentials" %>
