<h4>Welcome Mr <%= current_user.name %></h4>

<%= link_to 'Ofertas', all_offers_path %> <br>
<%= link_to 'Stores', stores_path %> <br>
<%= link_to 'Criar Oferta', new_offers_path %> <br>
<%= link_to 'Criar Store', new_stores_path %>
