<div class="admin-offers">
  <% @offers.each do |offer| %>
    <% product = offer.products.first  %>
    <% product_photo = product.index_photo %>
    <div class="admin-offer">
      <p> Loja: <%= offer.store.name %></p>
      <p> Dono: <%= offer.store.owner.name %></p>
      <p> Produtos em oferta: <%= offer.products.count %></p>
      <p> Oferta: <%= offer.active? ? 'Ativa' : 'Inativa' %></p>
    </div>
  <% end %>
</div>
<%= paginate @offers %>
