<div class="admin-offers">
    <% @offers.each do |offer| %>
    <% product = offer.products.first  %>
    <% product_photo = product.index_photo %>

    <div class="admin-offer">
        <div class="offer-head">
            <%= image_tag product_photo, class: "product-image" %>
            <div class="product_info">
                <h3 class="product_title"><%=truncate("#{product.name.upcase}, #{product.weight} ", length: 20)%></h3>
                <p class="product_brand"><%= product.brand.name.titleize %></p>
            </div>
        </div> 
        <%= simple_form_for offer do |f| %>
            <div class="form-field">
                <span class="form_label">
                    Preço
                </span>
                <%= f.input :stock, label: false, input_html: { class: "form_input" }%>
            </div>
            <div class="form-field">
                <span class="form_label">
                    Quantidade
                </span>
                <%= f.input :price, label: false, input_html: { class: "form_input" } %>
            </div>
        <% end %>
    </div>
    <% end %>
</div>

<%= paginate @offers %>