<div class="admin-offers">
    <% @offers.each do |offer| %>
    <% product = offer.products.first  %>
    <% product_photo = product.index_photo %>

    <div class="admin-offer">
        <span class="form-toggler" data-offer="<%= product.id %>">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <i class="fa fa-check" aria-hidden="true"></i>
        </span>
        <div class="offer-head">
            <%= image_tag product_photo, class: "product-image" %>
            <div class="product_info">
                <h3 class="product_title"><%=truncate("#{product.name.upcase}, #{product.weight} ", length: 20)%></h3>
                <p class="product_brand"><%= product.brand.name.titleize %></p>
            </div>
        </div> 
        <%= simple_form_for offer, url: audit_offer_path,  remote: true, html: { id: product.id } do |f| %>
            <div class="form-field">
                <span class="form-label">
                    Preço
                </span>
                <%= f.input :price, as: :currency, label: false, 
                    input_html: { 
                        value: sprintf('%.2f', offer.price),
                        class: offer.price / 100 < 1 ? "form_input" : "form_input-larger",
                        disabled: true
                    } %>
            </div>
            <div class="form-field">
                <span class="form-label">
                    Quantidade
                </span>
                <%= f.input :stock, label: false, 
                input_html: { 
                    class: "form_input",
                    disabled: true
                }%>
            </div>
        <% end %>
    </div>
    <% end %>
</div>

<%= paginate @offers %>