<div class="admin-links">
    <%= image_tag 'user.png', class: "img-seller" %>
    <div class="name-seller"><%= current_user.name.upcase %></div>
    <%= link_to 'Dados Pessoais', admin_profile_path, class: "link-sidebar" %>
    <%= link_to 'Suas Vendas', all_offers_path, class: "link-sidebar" %>
    <%= link_to 'Produtos', "#", class: "link-sidebar" %>
    <%= link_to 'Frete', "#", class: "link-sidebar" %>
</div>