<div class="admin-links">
    <% if current_user.photo.attached?  %>
        <%= cl_image_tag current_user.photo.key, class: 'img-seller' %>
    <% else %>
        <%= image_tag 'user.png', class: 'img-seller' %>
    <% end %>
    <div class="name-seller"><%= current_user.name.upcase %></div>
    <%= link_to 'Dados Pessoais', user_info_path, class: "link-sidebar" %>
    <%= link_to 'Seus pedidos', "#", class: "link-sidebar" %>
    <%= link_to 'Favoritos', "#", class: "link-sidebar" %>
    <%= link_to 'Endereço de entregas', user_addresses_path, class: "link-sidebar" %>
</div>
