<div class="cart">
  <h2 class="cart_title">Meu carrinho</h2>
  <% if @cart_offers.present? %>
    <div class="cart_main">
      <div class="cart_offers">
        <div class="offer_headers">
          <h4 class="product_column">Produto</h4>
          <h4>Preço</h4>
          <h4>Quantidade</h4>
          <h4>Total</h4>
        </div>
        <div class="offers_body">
          <% @cart_offers.each do |cart_offer| %>
            <% product = cart_offer.products.first %>
            <% product_photo = product.product_photos.find_by(name: "Principal", size:"300x300") %>
            <% offer =  cart_offer.offer %>
            <div class="offer">
              <div class="offer_product">
                <%= image_tag product_photo.url %>
                <div class="product_info">
                  <h3 class="product_title">
                    <%= "#{product.name.upcase}, #{product.weight}" %>
                    <br>
                    <%= "#{product.brand.name}" %>
                  </h3>
                  <% if product.flavor %>
                    <span class="product_flavor">Sabor: <%= product.flavor %></span>
                  <% end %>
                </div>
              </div>
              <div class="offer_info">
                <div class="offer_price">
                  R$<%= sprintf('%.2f', offer.price) %>
                </div>
                <div class="offer_qtt">
                  <div class="offer_qtties">
                    <%= link_to decrease_cart_path(cart_offer.id), method: :post, class:"qtt_button" do %>
                      <i class="fa fa-minus-circle"></i>
                    <% end %>
                    <p><%= cart_offer.quantity %></p>
                    <%= link_to add_cart_path(cart_offer.id), method: :post, class:"qtt_button" do %>
                      <i class="fa fa-plus-circle"></i>
                    <% end %>
                  </div>
                  <%= link_to "Remover", 
                      carts_offer_path(cart_offer), 
                      method: :delete, 
                      class:"remove_button" 
                    %>
                </div>
                <div class="offer_total">
                  R$<%= sprintf('%.2f', offer.price * cart_offer.quantity) %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="cart_checkout">
        <div class="cart_order">
          <h4 class="order_header">Resumo do Pedido</h4>
          <div class="order_info">
            <div class="subtotal">
              <span>Subtotal</span>
              <span><%= @subtotal %></span>
            </div>
            <% if @freight %>
              <div class="freight">
                  <span>Frete</span>
                  <span><%= "R$#{@freight.price}" %></span>
              </div>
              <div class="total">
                <span>TOTAL</span>
                <%= "R$#{@freight.price + @subtotal}" %>
              </div>
            <% else %>
              <div class="uncovered_area">
                Essa loja não entrega na sua região
              </div>
            <% end %>
          </div>
        </div>
        <%= form_tag '#', method: :get, class: "coupon_form" do %>
          <%= text_field_tag :coupon,
              params[:coupn],
              class: "coupon_input",
              placeholder: "Código de desconto"
          %>
          <%= button_tag type: "submit", class: "coupon_submit" do %>
              <i class="fa fa-angle-right"></i>
          <% end %>
        <% end %>
        <%= link_to 'FINALIZAR PEDIDO', checkout_path, class: "checkout_button" %>
      </div>
    </div>
    <h2 class="sugestions_title">APROVEITE O FRETE E LEVE TAMBÉM</h2>
    <p class="sold_by">Vendido por
      <% store = @cart.cart_store %>
      <%= link_to "#{store.name}", store_path(store), class: "store_link" %>
    </p>
    <div class="cart_sugestions">
    </div>
  <% end %>
</div>
