<% if offers.empty? %>
  <%= "Nenhum produto encontrado" if @empty %>
<% else %>
  <% offers.each do |offer| %>
    <% product = offer.products.first  %>
    <% product_photo = product.product_photos.find_by(name: "Principal", size:"300x300") %>
    <%= link_to offer, class:"offer" do %>
          <%= image_tag product_photo.url, class: "product_image" %>
          <div class="product_info">
            <h3 class="product_title"><%=truncate("#{product.name.upcase}, #{product.weight} ", length: 18)%></h3>
            <p class="product_brand"><%= product.brand.name %></p> 
          </div>
          <div class="offer_info">
            <div class="offer_price">
              <span>A partir de</span>
              <span class="price_number">R$<%= sprintf('%.2f', offer.price) %></span>
            </div>
            <div class="buy_box">
              <span class="like">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
              </span>
              <span class="cart">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              </span>
            </div>
          </div>
    <% end %>
  <% end %>
<% end %>
