<% if offers.empty? %>
  <%= "Nenhum produto encontrado" if @empty %>
<% else %>
  <% offers.each do |offer| %>
    <% product = offer.products.first  %>
    <% product_photo = product.product_photos.find_by(name: "Principal", size:"300x300") %>
    <div class="offer">
      <%= link_to(offer) do %>
        <%= image_tag product_photo.url %>
        <%= product.name %>
        <%= product.brand.name %>
        R$<%= offer.price %>
      <% end %>
    </div>
  <% end %>
<% end %>
