<%= simple_form_for :search, url: offers_path, method: "GET", remote: true, html: { id: 'sidebar_form' }  do |f| %>
  <div class="sidebar_form_fields">
    <div class="required form_label">Marcas</div>
    <div class="check_boxes_area">
      <%= f.input :brands, collection: $brands, as: :check_boxes, input_html: {class: "form_check"}, label: false  %>
    </div>
    <span class="sidebar_toggler">+</span>
  </div>
  <div class="sidebar_form_fields">
    <div class="required form_label">Categorias</div>
    <div class="check_boxes_area">
      <%= f.input :categories, collection: $categories, as: :check_boxes, input_html: {class: "form_check"}, label: false %>
    </div>
    <span class="sidebar_toggler">+</span>
  </div>
  <div class="sidebar_form_fields">
    <div class="required form_label">Produtos</div>
    <div class="check_boxes_area">
      <%= f.input :subcategories,  collection: $subcategories, as: :check_boxes, input_html: {class: "form_check"}, label: false %>
    </div>
    <span class="sidebar_toggler">+</span>
  </div>
  <div class="sidebar_form_fields">
    <div class="required form_label">Tamanhos</div>
    <div class="check_boxes_area">
      <%= f.input :weight,  collection: $weight, as: :check_boxes, input_html: {class: "form_check"}, label: false %>
    </div>
    <span class="sidebar_toggler">+</span>
  </div>
  <%= f.submit "Search", class: "btn btn-primary" %>
  <%= link_to "Reset", offers_path  %>
<% end %>
