<% if offers.empty? %>
  <%= "Nenhum produto encontrado" if @empty %>
<% else %>
  <% offers.each do |offer| %>
    <% product = offer.products.first  %>
    <% product_photo = product.product_photos.find_by(name: "Principal", size:"300x300") %>

    <div class="offer">
      <%= link_to offer do %>
        <%= image_tag (product_photo.present? ? product_photo.url : 'placeholder.jpg'), class: "product_image" %>
        <div class="product_info">
          <h3 class="product_title"><%=truncate("#{product.name.upcase}, #{product.weight} ", length: 20)%></h3>
          <p class="product_brand"><%= product.brand.name.titleize %></p> 
        </div>
      <% end %>
      <div class="offer_info">
        <div class="offer_price">
          <span>A partir de</span>
          <span class="price_number">R$<%= sprintf('%.2f', offer.price) %></span>
        </div>
        <div class="buy_box">
          <span class="like_cart_button">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
          </span>
          <%= link_to create_cart_offer_path(offer), method: :post, class: "offer_cart_button" do %>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          <% end %> 
        </div>
      </div>
    </div>
  <% end %>
<% end %>
