<h1>Offers#index</h1>
<p>Find me in app/views/offers/index.html.erb</p>

<%= form_tag offers_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Procure uma oferta"
  %>
  <%= submit_tag "Busca", class: "btn btn-primary" %>
<% end %>

<%= link_to 'Lista de Produtos', products_path %>

<% if @offers.empty? %>
  <h4>Você nao tem nenhuma offer criada!</h4>
<% else %>
  <h4>Suas ofertas!</h4>
  <% @offers.each do |offer| %>
    <p> - <%= offer.products.first.name %> <%= link_to 'Editar oferta', edit_offer_path(offer.id)  %> <%#= link_to 'Deletar oferta', offer_path(offer.id), method: :delete, data: { confirm: 'Are you sure?' }  %> </p>
  <% end %>
<% end %>
