<h1>Offers#new</h1>
<p>Find me in app/views/offers/new.html.erb</p>

  <%= simple_form_for @offer do |f| %>
    <div id="offer_product_fields">
      <%= f.simple_fields_for :offer_products do |product| %>
        <%#= m.input :product_id, collection: @products %>
        <%= render 'offer_product_fields', f: product %>
        <div class="links">
          <%= link_to_add_association 'Add', f, :offer_products %>
        </div>
      <% end %>
    </div>
    <%= f.input :store_id, collection: Store.where(owner_id: current_user) %>
    <%= f.input :stock %>
    <%= f.input :price %>
    <%= f.input :active, checked: true %>
    <%= f.submit %>
  <% end %>

