<div class="offer_show">
  <div class="offer_title">
    <h4><%= @product.name %></h4><span>(<%= @product.weight.first(5) %>)</span>
  </div>
  <div class="offer">

    <div class="offer_photos">
      <%= image_tag @product.product_photos.where(name: "Principal", size: "1200x1200").first.url, class: 'main_photo' %>

      <div class="photos_preview">
        <%= image_tag @product.product_photos.where(name: "Principal", size: "1200x1200").first.url, class: 'preview first_small' %>
        <%= image_tag @product.product_photos.where(name: "Principal", size: "1200x1200").first.url, class: 'preview second_small' %>
        <%= image_tag @product.product_photos.where(name: "Principal", size: "1200x1200").first.url, class: 'preview third_small' %>
        <%= image_tag @product.product_photos.where(name: "Ficha Técnica 1", size: "1200x1200").first.url, class: 'preview fourth_small' %>
        <%= image_tag @product.product_photos.where(name: "Tabela Nutricional", size: "1200x1200").first.url, class: 'preview fifth_small' %>
      </div>

    </div>

    <div class="offer_details">
      <div class="brand_photo">
        <%= image_tag @product.brand.logo if @product.brand.logo  %>
      </div>

      <div class="details">
        <div>
          <h5>Detalhes do produto</h5>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae eligendi dolorem non voluptas.
          Magnam et eum debitis exercitationem unde hic quia, omnis, quo harum soluta consequatur iste voluptatum. Doloremque, neque!
        </p>
        <h6>Antes de comprar, escolha ou confira o tamanho e o sabor do seu produto</h6>
      </div>

      <div class="price_details">

        <div class="store_link">
          <h6>Produto vendido por: <span><%= @offer.store.name %></span></h6>
          <h4>R$ <%= @offer.price %>0</h4>
        </div>

        <div class="price">
          <%= link_to root_path do%>
            <div class="store_btn">
              Visitar a loja
            </div>
          <% end %>
          <%= link_to cart_path do %>
            <div class="cart_btn">
              <i class="fa fa-shopping-cart"></i>
            </div>
          <% end %>
        </div>

      </div>

    <%# raise %>
    </div>
  </div>
</div>













<%#= link_to "Landing", root_path  %> <br>
<%#= simple_form_for :search, url: offers_path, method: "GET" do |f| %>
  <%#= f.input :query, label: "Pesquisa" %>
  <%#= f.submit "Search", class: "btn btn-primary" %>
<%# end %>
<%# <br> %>

<%# @offer.products.each do |product| %>
  <%#= image_tag product.product_photos.where(name: "Principal").first.url %>
  <p>- <%#= product.name %></p>
<%# end %>
<%#= link_to 'Auditar oferta', edit_offer_path(@offer.id) if current_user && current_user.admin? %>

<%#= link_to 'Voltar', root_path %> <br>

<%#= link_to 'Adicionar ao carrinho', create_cart_offer_path(@offer), method: :post %>
