<div class="offer_show">
  <div class="offer_title">
    <h4><%= @product.name.upcase %></h4><span>(<%= @product.weight.first(5) %>)</span>
  </div>
  <div class="offer">

    <div class="offer_photos">
      <%= image_tag( @product.product_photos.where(name: "Principal", size: "1200x1200")&.first&.url, class: 'main_photo', id: 'image') if @product.product_photos.where(name: "Principal", size: "1200x1200")&.first&.url %>

      <div class="photos_preview">
        <%= image_tag( @product.product_photos.where(name: "Principal", size: "1200x1200")&.first&.url, class: 'preview' ) if @product.product_photos.where(name: "Principal", size: "1200x1200")&.first&.url %>
        <%= image_tag( @product.product_photos.where(name: "Principal", size: "1200x1200")&.first&.url, class: 'preview' ) if @product.product_photos.where(name: "Principal", size: "1200x1200")&.first&.url %>
        <%= image_tag( @product.product_photos.where(name: "Ficha Técnica 1", size: "1200x1200")&.first&.url, class: 'preview' ) if @product.product_photos.where(name: "Ficha Técnica 1", size: "1200x1200")&.first&.url %>
        <%= image_tag( @product.product_photos.where(name: "Tabela Nutricional", size: "1200x1200")&.first&.url, class: 'preview' ) if @product.product_photos.where(name: "Tabela Nutricional", size: "1200x1200")&.first&.url %>
      </div>

    </div>

    <div class="offer_details">

      <div class="store_link">
        <h6 id="store_mobile">Produto vendido por: <span><%= @offer.store.name %></span></h6>
        <h6>Antes de comprar, escolha ou confira o tamanho e o sabor do seu produto</h6>
        <div class="selector_size">
          <div class="size_form">

            <div class="size">
              <div class="size_title">
                TAMANHO
                <span class="arrow_selector arrow_size"><i class="fa fa-angle-down"></i></span>
              </div>
              <div class="size_div hide_size_div">
                Tamanho A
                Tamanho B
              </div>
            </div>


            <div class="flavour">
              <div class="size_title">
                SABOR
                <span class="arrow_selector arrow_flavour"><i class="fa fa-angle-down"></i></span>
              </div>
              <div class="flavour_div hide_flavour_div">
                Tamanho A
                Tamanho B
              </div>
            </div>

          </div>
          <div class="price_container">
            <h4>R$ <%= @offer.price %>0</h4>

            <%= link_to create_cart_offer_path(@offer), method: :post do %>
              <div class="cart_btn">
                <i class="fa fa-shopping-cart"></i>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="details">
        <div>
          <h5>Detalhes do produto <span class="arrow_down"><i class="fa fa-angle-down"></i></span></h5>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae eligendi dolorem non voluptas.
          Magnam et eum debitis exercitationem unde hic quia, omnis, quo harum soluta consequatur iste voluptatum. Doloremque, neque!
        </p>
      </div>

      <div class="price_details">

        <div class="price">

          <div class="brand_photo">
            <%= image_tag @product.brand.logo if @product.brand.logo  %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="testimony_container">
  <div class="product_score">

    <div class="score">
      <h4>Avaliação Média do Produto</h4>
      <div class="average-score">
        <h6>4.3</h6>
        <p>35 avaliações</p>
      </div>
    </div>

    <div class="stars_section">
      <div class="stars_count">
        <div class="stars">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
        <div class="star_bar5"></div>
      </div>
      <div class="stars_count">
        <div class="stars">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
        <div class="star_bar4"></div>
      </div>
      <div class="stars_count">
        <div class="stars">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
        <div class="star_bar3"></div>
      </div>
      <div class="stars_count">
        <div class="stars">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
        <div class="star_bar2"></div>
      </div>
      <div class="stars_count">
        <div class="stars">
          <i class="fa fa-star"></i>
        </div>
        <div class="star_bar1"></div>
      </div>
    </div>

  </div>

  <div class="testimonys">
    <div class="testimonys_cards">
      <div class="avatar">
        <%= image_tag 'avatar.png', class: 'avatar_img' %>
      </div>
      <div class="author">
        <h6>Hugo Littlewhite</h6>
        <span class="star_rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </span>
      </div>
      <div>
        <p>'Este produto é uma merda, eu nem malho, não sei pq comprei saporra!'</p>
      </div>
    </div>
  </div>


</div>
