<h4>Lista de produtos</h4>

<%= form_tag products_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Procure um produto"
  %>
  <%= submit_tag "Busca", class: "btn btn-primary" %>
<% end %>

<%= link_to 'Voltar', root_path %>

<%# Mostrando 25 produtos por pagina %>
<%= paginate @products %>

<% @products.each do |product| %>
  <table>
    <tr>
      <th><%= image_tag product.product_photos.where(name: "Principal").first.url %> </th>
      <th><%= product.name %> |</th>
      <th>Peso: <%= product.weight %> |</th>
      <th>Sabor: <%= product.flavor %> |</th>
      <th>Ean: <%= product.ean %> |</th>
      <th>Marca: <%= product.brand.name %> |</th>
      <th>Descrição: <%= product.description %></th>
    </tr>
  </table>
<% end %>

<%= paginate @products %>
